<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booknexus</title>
    <link rel="stylesheet" href="styles-profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Booknexus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <!--Miramos despues
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Link</a>
                    </li>
                    -->
                </ul>
                <button class="btn btn-dark" type="button" onclick="window.location.href='profile.html'">Registrate</button>
                <button class="btn btn-outline-light ms-2" type="button" onclick="window.location.href='profile.html'">Ingresa</button>
                </div>
            </div>
        </nav>
    </header>

    <main>
       <div class="container">
        <form method="POST" action = "{% url 'response' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 justify-content-center p-5 mt-5">
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-6 justify-content-center p-5 mt-5">
                    <h4 class="mt-5 mb-3">¿Qué temas te gustan?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fantasia" id="tema1" name="tema1">
                        <label class="form-check-label" for="tema1">
                            Fantasía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="romance" id="tema2" name="tema2">
                        <label class="form-check-label" for="tema2">
                            Romance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="historia" id="tema3" name="tema3">
                        <label class="form-check-label" for="tema3">
                            Historia
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tipo de libro quieres leer?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="biografia" id="tipo1" name="tipo1">
                        <label class="form-check-label" for="tipo1">
                            Biografía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="novela" id="tipo2" name="tipo2">
                        <label class="form-check-label" for="tipo2">
                            Novela
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cientifico" id="tipo3" name="tipo3">
                        <label class="form-check-label" for="tipo3">
                            Científico
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tan largo ha de ser el libro?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="corto" checked>
                        <label class="form-check-label" for="corto">
                            Menos de 100 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="medio">
                        <label class="form-check-label" for="medio">
                        Entre 100 y 500 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="largo">
                        <label class="form-check-label" for="largo">
                        Mas de 500 páginas
                        </label>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>

        

       </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>