{% extends 'base.html' %}
{% block content %}
<div class="custom-container">
<style>
    .custom-container {
        margin-top: -100px;
    }
</style>
<body>
    <main>
       <div class="container">
        <form method="POST" action = "{% url 'response' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 justify-content-center p-5 mt-5">
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="col-6 justify-content-center p-5 mt-5">
                    <h4 class="mt-5 mb-3">¿Qué temas te gustan?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="fantasia" id="tema1" name="tema1">
                        <label class="form-check-label" for="tema1">
                            Fantasía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="romance" id="tema2" name="tema2">
                        <label class="form-check-label" for="tema2">
                            Romance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="historia" id="tema3" name="tema3">
                        <label class="form-check-label" for="tema3">
                            Historia
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tipo de libro quieres leer?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="biografia" id="tipo1" name="tipo1">
                        <label class="form-check-label" for="tipo1">
                            Biografía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="novela" id="tipo2" name="tipo2">
                        <label class="form-check-label" for="tipo2">
                            Novela
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="cientifico" id="tipo3" name="tipo3">
                        <label class="form-check-label" for="tipo3">
                            Científico
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tan largo ha de ser el libro?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="corto" checked>
                        <label class="form-check-label" for="corto">
                            Menos de 100 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="medio">
                        <label class="form-check-label" for="medio">
                        Entre 100 y 500 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="largo">
                        <label class="form-check-label" for="largo">
                        Mas de 500 páginas
                        </label>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>

        

       </div>
    </main>
 </body>
</html>
</div>
{% endblock content %}