{% extends 'base.html' %}
{% block content %}
<div class="custom-container">
<style>
    .custom-container {
        margin-top: -100px;
    }
</style>
<body>
    <main>
       <div class="container mt-5">
        <form method="POST" action = "{% url 'response' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 justify-content-center p-5 mt-5">
                    <p class="mt-5">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-3">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p class="mt-3">Uno de mis libros favoritos es:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="libro3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="mb-3">
                        <label for="detalles" class="form-label">¿Quieres poner más detalles o comentarios para tu búsqueda?
                        </label>
                        <textarea class="form-control" id="detalles" name="detalles" rows="4"></textarea>
                    </div>
                </div>

                <div class="col-6 justify-content-center p-5 mt-5">
                    <h4 class="mt-5 mb-3">¿Qué temas te gustan?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Fantasía" id="Fantasía" name="Fantasía">
                        <label class="form-check-label" for="Fantasía">
                            Fantasía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Romance" id="Romance" name="Romance">
                        <label class="form-check-label" for="Romance">
                            Romance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Historia" id="Historia" name="Historia">
                        <label class="form-check-label" for="Historia">
                            Historia
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Suspenso" id="Suspenso" name="Suspenso">
                        <label class="form-check-label" for="Suspenso">
                            Suspenso
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Autoayuda" id="Autoayuda" name="Autoayuda">
                        <label class="form-check-label" for="Autoayuda">
                            Autoayuda
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Ciencia Ficción" id="Ciencia Ficción" name="Ciencia Ficción">
                        <label class="form-check-label" for="Ciencia Ficción">
                            Ciencia ficción
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tipo de libro quieres leer?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Biografía" id="Biografía" name="Biografía">
                        <label class="form-check-label" for="Biografía">
                            Biografía
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Novela" id="Novela" name="Novela">
                        <label class="form-check-label" for="Novela">
                            Novela
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Científico" id="Científico" name="Científico">
                        <label class="form-check-label" for="Científico">
                            Científico
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Poesía" id="Poesía" name="Poesía">
                        <label class="form-check-label" for="Poesía">
                            Poesía
                        </label>
                    </div>
                    <h4 class="mt-2 mb-3">¿Qué tan extenso ha de ser el libro?</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="corto" value="50 paginas" checked>
                        <label class="form-check-label" for="corto">
                            Menos de 100 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="medio" value="100-500 paginas">
                        <label class="form-check-label" for="medio">
                        Entre 100 y 500 páginas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="longitud" id="largo" value="mas de 500 paginas">
                        <label class="form-check-label" for="largo">
                        Más de 500 páginas
                        </label>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" style="background-color: #39A0ED; color: #fff; border: solid #39A0ED;" type="submit">Enviar</button>
                </div>
            </div>
        </form>

        

       </div>
    </main>
 </body>
</html>
</div>
{% endblock content %}