<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booknexus</title>
    <link rel="stylesheet" href="styles-profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Booknexus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <!--Miramos despues
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Link</a>
                    </li>
                    -->
                </ul>
                <!--
                <button class="btn btn-dark" type="button" onclick="window.location.href='profile.html'">Registrate</button>
                <button class="btn btn-outline-light ms-2" type="button" onclick="window.location.href='profile.html'">Ingresa</button>
                -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 bg-dark">
                    <img src="img/user.png" class="mt-5 mb-2 circular-square mx-auto d-block img-fluid" alt="">
                    <h4 class="text-center text-light">Nombre del usuario</h4>
                    <h5 class="text-light mt-3">Leer mas tarde:</h5>
                    <h6 class="text-light">libro a leer 1</h6>
                    <h6 class="text-light">libro a leer 2</h6>
                    <h6 class="text-light">libro a leer 3</h6>
                    <h6 class="text-light">libro a leer 4</h6>
                    <h5 class="text-light mt-3">Booklists:</h5>
                    <h6 class="text-light">Booklist 1</h6>
                    <h6 class="text-light">Booklist 2</h6>
                    <h6 class="text-light">Booklist 3</h6>
                    <h6 class="text-light">Booklist 4</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quibusdam natus odit placeat impedit explicabo, autem accusantium atque, voluptates animi at nam a libero dicta repellendus modi vel eius quidem qui eaque sunt porro sequi dolor tenetur. Ullam, delectus vel quas consectetur adipisci, ad aperiam assumenda amet libero veniam deleniti ex distinctio mollitia veritatis necessitatibus laborum perferendis quae repellat porro. Repellendus debitis exercitationem impedit magnam adipisci qui voluptate repudiandae fugit repellat nostrum delectus, possimus culpa necessitatibus maiores numquam nemo alias ipsum animi assumenda doloremque neque! Suscipit odit sunt ut aliquam magni quod vero provident. Culpa ea omnis labore beatae corporis?</p>
                </div>
                <div class="col-9">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="card ms-5 mb-3 me-5" style="max-width: 450px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="img/libro2.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">libro 1</h5>
                                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente cupiditate corrupti neque consequuntur temporibus explicabo excepturi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 450px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="img/libro2.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">libro 2</h5>
                                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente cupiditate corrupti neque consequuntur temporibus explicabo excepturi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card ms-5 mb-3 me-5" style="max-width: 450px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="img/libro2.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">libro 3</h5>
                                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente cupiditate corrupti neque consequuntur temporibus explicabo excepturi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 450px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="img/libro2.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">libro 4</h5>
                                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente cupiditate corrupti neque consequuntur temporibus explicabo excepturi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>