{% extends 'base.html' %}
{% block content %}
<body>
    <main>
        <div class="container mt-5">
            <br>
            <h2> Estas son las recomendaciones para ti: </h2>
            <br>
            <div class="row" id="book-recommendations-container">
        
                {% for libro in libros %}
                    {% for elemento in libro %}
                        <div class="col-6">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ elemento.imagen_enlace }}" class="img-fluid rounded-start" style="width: 200px; height: 300px;" alt="Portada del libro">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ elemento.titulo }}</h5>
                                            <p class="card-text"><small class="text-body-secondary">Autor(es):
                                                {% for autor in elemento.autores %}
                                                    {{ autor }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </small></p>
                                            
                                            <p class="card-text" id="elemento-descripcion">{{ elemento.descripcion|slice:":400" }}{% if elemento.descripcion|length > 400 %}...</p>
                                            
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                                Leer más
                                            </button>
                                            
                                            {% endif %}
                                            <br>
                                            <br>
                                            <button class="btn btn-primary" onclick="window.location.href='{{ elemento.buy_link }}'">Comprar</button>
                                            
                                            <div class="book-details"
                                                data-title="{{ elemento.titulo }}"
                                                data-author="{{ elemento.autores|join:',' }}"
                                                data-description="{{ elemento.descripcion }}"
                                                data-buy-link="{{ elemento.buy_link }}"
                                                data-cover="{{elemento.imagen_enlace}}"

                                                
                                            >
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" style="background-color: #274690; color: #fff; border: solid #274690;" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Más opciones
                                                </button>
                                                <ul class="dropdown-menu">
                                                    
                                                    <li><a class="dropdown-item btn btn-add-to-list" href="#" onclick="addToReadLater(this)">Leer más tarde</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item btn btn-mark-as-not-recommended" href="#" onclick="markAsNotRecommended(this)">No recomendar</a></li>
                                                </ul>
                                            </div>
                                            </div>
                                                                                 
                                            
                                            <div class="modal fade" id="descriptionModal{{ forloop.parentloop.counter }}_{{ forloop.counter }}" tabindex="-1" aria-labelledby="descriptionModalLabel{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-hidden="true">

                                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="descriptionModalLabel{{ libro.id }}">Descripción completa</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        
                                                        <div class="modal-body ">
                                                            {% if elemento.imagen_enlace %}
                                                            <img class="card-img-top mx-auto d-block img-fluid rounded-start" style="width: 200px; height: 300px;" src="{{ elemento.imagen_enlace }}" alt="">
                                                            {% endif %}
                                                            <br>
                                                            <h5 class="text-center">{{ elemento.titulo }}</h5>
                                                            
                                                            <h5 class="text-center"><em>
                                                                {% for autor in elemento.autores %}
                                                                    {{ autor }}
                                                                    {% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </em></h5>
                                                            <p class="text-justify">{{ elemento.descripcion }}</p>
                    
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <script>
                                                function comprarLibro(link) {
                                                  
                                                    console.log('Enlace: ' + link);
                                                    
                                                   
                                                    window.location.href = link;
                                                }
                                            </script>


                                            <script>
                                                function getCookie(name) {
                                                    var cookieValue = null;
                                                    if (document.cookie && document.cookie !== '') {
                                                        var cookies = document.cookie.split(';');
                                                        for (var i = 0; i < cookies.length; i++) {
                                                            var cookie = cookies[i].trim();
                                                            
                                                            if (cookie.substring(0, name.length + 1) === name + '=') {
                                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    return cookieValue;
                                                }
                                                let isEventListenerAdded = isEventListenerAdded || false;
                                                
                                                function addToReadLater(button) {
                                                    if (button.disabled) {
                                                        return; 
                                                    }
                                                    console.log('Button clicked'); 
                                                    const csrftoken = getCookie('csrftoken');
                                            
                                                    const bookDetails = button.closest('.book-details');
                                                    console.log('bookDetails:', bookDetails);
                                                    if (bookDetails) {
                                                        const title = bookDetails.getAttribute('data-title');
                                                        const author = bookDetails.getAttribute('data-author');
                                                        const description = bookDetails.getAttribute('data-description');
                                                        const buyLink = bookDetails.getAttribute('data-buy-link');
                                                        const cover = bookDetails.getAttribute('data-cover');
                                            
                                                       
                                                        console.log('Title: ' + title);
                                                        console.log('Author: ' + author);
                                                        console.log('Description: ' + description);
                                                        console.log('Buy Link: ' + buyLink);
                                                        console.log('Cover: ' + cover);
                                            
                                                        if (title && author && description && buyLink) {
                                                            button.disabled = true;
                                                            
                                                            fetch('/add-to-list/', {
                                                                method: 'POST',
                                                                headers: {
                                                                    'Content-Type': 'application/json',
                                                                    'X-CSRFToken': csrftoken,
                                                                },
                                                                body: JSON.stringify({
                                                                    title,
                                                                    author,
                                                                    description,
                                                                    buyLink,
                                                                    cover,
                                                                    list: 'Leer más tarde',
                                                                }),
                                                            })
                                                            .then((response) => {
                                                                if (response.ok) {
                                                                    alert('Book added to "Leer más tarde"');
                                                                    button.disabled = false; 
                                                                } else {
                                                                    alert('Failed to add the book to the list');
                                                                }
                                                            })
                                                            .catch((error) => {
                                                                console.error('Error:', error);
                                                            })
                                                            .finally(() => {
                                                                button.removeEventListener('click', addToReadLater); 
                                                            });
                                                        } else {
                                                            alert('Book data is incomplete or missing');
                                                        }
                                                    } else {
                                                        alert('Book details not found');
                                                    }
                                                }
                                                

                                                if (!isEventListenerAdded) {
                                                    document.getElementById('book-recommendations-container').addEventListener('click', function (event) {
                                                        if (event.target.classList.contains('btn-add-to-list')) {
                                                            addToReadLater(event.target); 
                                                        }
                                                    });

                                                    isEventListenerAdded = true;
                                                }

                                                function markAsNotRecommended(button) {
                                                    if (button.classList.contains('disabled')) {
                                                        // If the button has the "disabled" class, don't proceed
                                                        return;
                                                    }
                                                
                                                    const csrftoken = getCookie('csrftoken');
                                                    const bookDetails = button.closest('.book-details');
                                                    const title = bookDetails.getAttribute('data-title');
                                                    const author = bookDetails.getAttribute('data-author');
                                                
                                                    fetch('/mark-as-not-recommended/', {
                                                        method: 'POST',
                                                        headers: {
                                                            'Content-Type': 'application/json',
                                                            'X-CSRFToken': csrftoken,
                                                        },
                                                        body: JSON.stringify({
                                                            title,
                                                            author,
                                                        }),
                                                    })
                                                    .then((response) => {
                                                        if (response.ok) {
                                                            alert('No te recomendaremos más este libro');
                                                            // Add the "disabled" class to the button to prevent further clicks
                                                            button.classList.add('disabled');
                                                        } else {
                                                            alert('Error al marcar como no recomendar.');
                                                        }
                                                    })
                                                    .catch((error) => {
                                                        console.error('Error:', error);
                                                    });
                                                }     

                                                
                                            </script>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
{% endblock content %}