{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logis Bootstrap Template - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/icon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="http://127.0.0.1:8000" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BookNexus</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="http://127.0.0.1:8000">Inicio</a></li>

          {% if user.is_authenticated %}
          {% if not user.is_staff %}
          <li><a href="{% url 'accounts:profile' %}">Perfil</a></li>
          {% endif %}
          {% if user.is_staff %}
          <li><a href="http://127.0.0.1:8000/admin/">Perfil</a></li>
          {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li><a href="{% url 'reports:report' %}">Géneros y Categorías</a></li>
          {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
          <li><a href="{% url 'top_books' %}">Top de libros</a></li>
          {% endif %}

          {% if user.is_authenticated %}
          <li><a href="{% url 'overview' %}">Listas de lectura</a></li>
          {% endif %}

          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:logout' %}">Cerrar Sesión ({{ user.username }})</a></li>
          {% else %}
          <li><a href="{% url 'accounts:login' %}">Inicia sesión</a></li>
          <li><a class="register" href="{% url 'accounts:signup' %}">Regístrate</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center"
        style="background-image: url('https://github.com/jhothinnan/Images/blob/main/library.jpg?raw=true');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Recomendaciones</h2>
              <p>En BookNexus, entendemos que cada lector es único, y es por eso que ofrecemos recomendaciones personalizadas especialmente para ti. Teniendo esto en mente, te presentamos una cuidadosa selección de libros que seguramente se convertirán en tus próximos favoritos. Explora un mundo de lecturas que se adaptan a tus gustos y descubre nuevas historias que te cautivarán.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="http://127.0.0.1:8000">Inicio</a></li>
            <li>Recomendaciones</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->

    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          {% for libro in libros %}
          {% for elemento in libro %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <div class="text-center card-img">
                <img src="{{ elemento.imagen_enlace }}" alt="Portada del libro" class="img-fluid ">
              </div>
              <h3 class="mt-3">{{ elemento.titulo }}</h3>
              <h6 class="text-body-secondary">Autor(es):</h6>
              <small class="text-body-secondary">
                {% for autor in elemento.autores %}
                {{ autor }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
              </small>
              <p class="card-text mt-2" id="elemento-descripcion">{{ elemento.descripcion|slice:":400" }}{% if elemento.descripcion|length > 400 %}...</p>
              
              
              <a href="#" class="buy-btn me-3 mb-3" data-bs-toggle="modal"
                data-bs-target="#descriptionModal{{ forloop.parentloop.counter }}_{{ forloop.counter }}">Leer más</a>
              {% endif %}
              <br>
              <a href="#" class="buy-btn me-3 mb-3" onclick="window.location.href='{{ elemento.buy_link }}'">Comprar</a>
              <div class="book-details"
                                                data-title="{{ elemento.titulo }}"
                                                data-author="{{ elemento.autores|join:',' }}"
                                                data-description="{{ elemento.descripcion }}"
                                                data-buy-link="{{ elemento.buy_link }}"
                                                data-cover="{{elemento.imagen_enlace}}"

                                                
                              >
              <a href="#" class="buy-btn dropdown-toggle me-3 mb-3" role="button" data-bs-toggle="dropdown">Más opciones</a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item btn-add-to-list" href="#" onclick="addToReadLater(this)">Leer más tarde</a></li>
                <li><a class="dropdown-item btn-mark-as-not-recommended" href="#" onclick="markAsNotRecommended(this)">No recomendar</a></li>
              </ul>
            </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="modal fade" id="descriptionModal{{ forloop.parentloop.counter }}_{{ forloop.counter }}" tabindex="-1" aria-labelledby="descriptionModalLabel{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="descriptionModalLabel{{ libro.id }}">Descripción completa</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body ">
                  {% if elemento.imagen_enlace %}
                  <img class="card-img-top mx-auto d-block img-fluid rounded-start" style="width: 200px; height: 300px;"src="{{ elemento.imagen_enlace }}" alt="">
                  {% endif %}
                  <br>
                  <h5 class="text-center">{{ elemento.titulo }}</h5>

                  <h5 class="text-center"><em>
                      {% for autor in elemento.autores %}
                      {{ autor }}
                      {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </em></h5>
                  <p class="text-justify">{{ elemento.descripcion }}</p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="toast custom-toast" id="successToast" role="alert" aria-live="assertive" aria-atomic="true"style="position: fixed; top: 50px; left: 50%; transform: translateX(-50%); z-index: 1050;">
            <div class="toast-header">
              <strong class="mr-auto">Éxito</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">

              </button>
            </div>
            <div class="toast-body">
              hola
            </div>
          </div>

          <div class="toast custom-toast" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 50px; left: 50%; transform: translateX(-50%); z-index: 1050;">
            <div class="toast-header">
              <strong class="mr-auto">Error</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">

              </button>
            </div>
            <div class="toast-body">
              chao
            </div>
          </div>



          {% endfor %}
        {% endfor %}


        </div>
      </div>
      



    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BookNexus</span>
          </a>
          <p>Booknexus es una aplicación basada en web que tiene como objetivo permitir al usuario descubrir libros e
            interactuar con ellos. Es una plataforma de recomendación de libros que ofrece sugerencias personalizadas
            basadas en las preferencias, el historial de lectura y los intereses de los usuarios. Además, la plataforma
            proporciona información completa sobre varios libros, incluidos detalles del autor, sinopsis y géneros, lo
            que permite a los usuarios tomar decisiones informadas sobre sus opciones de lectura.</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Navegación</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Iniciar sesión</a></li>
            <li><a href="#">Regístrate</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactanos</h4>
          <p>
            book.nexus.p1@gmail.com <br><br>
            <strong>Manuela Castaño Franco:</strong> <br> mcastanof1@eafit.edu.co<br>
            <strong>Santiago Neusa Ruíz:</strong> <br> sneusar@eafit.edu.co <br>
            <strong>Jhonnathan Stiven Ocampo Díaz:</strong> <br> jsocampod@eafit.edu.co<br>
          </p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Referencias</h4>
          Esta página fue diseñada usando imágenes de googleBooks y de Freepik.com, todos los derechos reservados a sus
          autores.
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BookNexus</span></strong>.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script>
        

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let isEventListenerAdded = isEventListenerAdded || false;
    
    function showSuccessToast(message) {
        const successToast = document.getElementById('successToast');
        const toastBody = successToast.querySelector('.toast-body');
        toastBody.innerText = message;
      
        const toast = new bootstrap.Toast(successToast);
        toast.show();
      }
      
      function showErrorToast(message) {
        const errorToast = document.getElementById('errorToast');
        const toastBody = errorToast.querySelector('.toast-body');
        toastBody.innerText = message;
      
        const toast = new bootstrap.Toast(errorToast);
        toast.show();
      }

    function addToReadLater(button) {
        if (button.disabled) {
            return; 
        }
        console.log('Button clicked'); 
        const csrftoken = getCookie('csrftoken');

        const bookDetails = button.closest('.book-details');
        console.log('bookDetails:', bookDetails);
        if (bookDetails) {
            const title = bookDetails.getAttribute('data-title');
            const author = bookDetails.getAttribute('data-author');
            const description = bookDetails.getAttribute('data-description');
            const buyLink = bookDetails.getAttribute('data-buy-link');
            const cover = bookDetails.getAttribute('data-cover');

           
            console.log('Title: ' + title);
            console.log('Author: ' + author);
            console.log('Description: ' + description);
            console.log('Buy Link: ' + buyLink);
            console.log('Cover: ' + cover);

            if (title && author && description && buyLink) {
                button.disabled = true;
                
                fetch('/add-to-list/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        title,
                        author,
                        description,
                        buyLink,
                        cover,
                        list: 'Leer más tarde',
                    }),
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.message) {
                        showSuccessToast(data.message);
                        button.disabled = false;
                    } else if (data.error) {
                        showErrorToast(data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    button.removeEventListener('click', addToReadLater);
                });
        } else {
            showErrorToast('Book data is incomplete or missing');
        }
    } else {
        showErrorToast('Book details not found');
    }
    }
    

    if (!isEventListenerAdded) {
        document.getElementById('book-recommendations-container').addEventListener('click', function (event) {
            if (event.target.classList.contains('btn-add-to-list')) {
                addToReadLater(event.target); 
            }
        });

        isEventListenerAdded = true;
    }

    function markAsNotRecommended(button) {
        if (button.classList.contains('disabled')) {
            
            return;
        }
    
        const csrftoken = getCookie('csrftoken');
        const bookDetails = button.closest('.book-details');
        const title = bookDetails.getAttribute('data-title');
        const author = bookDetails.getAttribute('data-author');
    
        fetch('/mark-as-not-recommended/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                title,
                author,
            }),
        })
        .then((response) => response.json())
        .then((data) => {
            if (data.message) {
                showSuccessToast(data.message);
               
                button.classList.add('disabled');
            } else if (data.error) {
                showErrorToast(data.error);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    
</script>

</body>

</html>