{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mt-5">
                <h3>Libros más leidos</h3>
                <ol class="list-group list-group-numbered">
                    {% for book in top_books %}
                    <li class="list-group-item">{{ book.title }} - {{ book.book_count }} Lectura(s)</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col-6 mt-5">
                <h3>Libros menos leídos</h3>
                <ol class="list-group list-group-numbered">
                    {% for book in least_books %}
                    <li class="list-group-item">{{ book.title }} - {{ book.book_count }} Lectura(s)</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    
</main>
    
{% endblock content %}