{% extends 'base.html' %}
{% block content %}

<body>
     <br>
        <div class="container mt-5">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                Editar Perfil
                </h5>
                {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
                </div>
                {% endif %}
                
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% if form.preferences %}
                            <label for="{{ form.preferences.id_for_label }}" class="form-label">Título</label>
                            {{ form.preferences }}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.birthdate.id_for_label }}" class="form-label">Título</label>
                            {{ form.birthdate }}
                        </div>
                       
                        
                        
                       
                        <button type="submit" class="btn btn-primary">
                            Aplicar cambios
                        </button>
                    </form>
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>
{% endblock content %}