{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BookNexus</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/iconWhite.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% include "includes/header.html" %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center"
        style="background-image: url('https://github.com/jhothinnan/Images/blob/main/library.jpg?raw=true');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Perfil</h2>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="routeInPage">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li>Tu perfil</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
      
              <div class="row gy-4 mt-1 justify-content-center">
      
                <div class="col-lg-8 ">
                  {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                  {% endif %} 
                    <form action="{% url 'accounts:editprofile' %}" method="POST" class="php-email-form" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="row">

                      <h2 class="mb-2">Edita los detalles de tu cuenta</h2>
                      <div class="col-md-12 form-group">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Usuario" value="{{ user.username }}" required>
                      </div>
                    </div>
      
                    <div class="form-group mt-3">
                      <label for="profile_picture" class="form-label">Foto de perfil</label>
                      <input type="file" name="profile_picture" class="form-control" accept="image/*" id="profile_picture" placeholder="Elige tu imagen de perfil">
                    </div>
                    
                    <div class="form-group mt-3">
                      <label for="preferences" class="form-label">Preferencias</label>
                      <textarea class="form-control" id="preferences" name="preferences" rows="5" placeholder="Cuéntanos más acerca de tus intereses en la lectura" required>{{ user_profile.preferences }}</textarea>
                    </div>                  
                    
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Aplicar cambios</button></div>
                  </form>
                </div><!-- End Contact Form -->
      
              </div>
      
            </div>
          </section><!-- End Contact Section -->
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "includes/footer.html" %}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
