{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BookNexus</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/iconWhite.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% include "includes/header.html" %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('https://github.com/jhothinnan/Images/blob/main/library.jpg?raw=true');">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>Listas de lectura</h2>
                <p>Con nuestra función de lista de lectura, podrás organizar y guardar tus libros favoritos de una manera sencilla y conveniente. Ya no tendrás que preocuparte por perder el rastro de tus lecturas pendientes o libros más queridos. Crea tu lista personalizada y disfruta de una experiencia de lectura más organizada y gratificante.</p>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="{% url 'index' %}">Inicio</a></li>
              <li>Listas de lectura</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 mt-1 justify-content-center">
            <div class="col-lg-8 ">
                <!-- nosemgrep: python.django.security.django-no-csrf-token.django-no-csrf-token -- Django CSRF token is rendered immediately below. -->
                <form action="{% url 'createlist' %}" method="post" class="php-email-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Crea tu lista de lectura</h4>
                    <div class="form-group mt-3">
                        <input type="text" name="title" class="form-control" required id="title"  placeholder="Título de tu lista de lectura">
                    </div>
                
                    <div class="form-group mt-3">
                        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Añade una Descripción a tu lista de lectura" required></textarea>
                    </div>

                    <div class="form-group mt-3">
                      <h6>Selecciona la portada de tu lista de lectura</h6>
                        <input type="file" name="cover" class="form-control" accept="image/*" id="cover" placeholder="Elige la imagen de portada de la lista de lectura">
                    </div>
                
                    <div class="my-3">
                    </div>
                    <div class="text-center"><button type="submit">Crear</button></div>
                </form>
            </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "includes/footer.html" %}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
