{% extends 'base.html' %}
{% load static %}

{% block title %}BookNexus{% endblock %}

{% block content %}
{% include 'includes/reading_list_breadcrumbs.html' %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 mt-1 justify-content-center">
            <div class="col-lg-8 ">
                <!-- nosemgrep: python.django.security.django-no-csrf-token.django-no-csrf-token -- Django CSRF token is rendered immediately below. -->
                <form action="{% url 'createlist' %}" method="post" class="php-email-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Crea tu lista de lectura</h4>
                    {% if error_message %}
                      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                    {% endif %}
                    <div class="form-group mt-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" name="title" class="form-control" required id="title"  placeholder="Título de tu lista de lectura">
                    </div>
                
                    <div class="form-group mt-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" id="description" name="description" rows="4" placeholder="Añade una Descripción a tu lista de lectura" required></textarea>
                    </div>

                    <div class="form-group mt-3">
                      <label for="cover" class="form-label">Selecciona la portada de tu lista de lectura</label>
                        <input type="file" name="cover" class="form-control" accept="image/*" id="cover" placeholder="Elige la imagen de portada de la lista de lectura">
                    </div>
                
                    <div class="my-3">
                    </div>
                    <div class="text-center"><button type="submit">Crear</button></div>
                </form>
            </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock %}
