{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BookNexus</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "img/iconWhite.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">
  

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% include "includes/header.html" %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('https://github.com/jhothinnan/Images/blob/main/library.jpg?raw=true');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Listas de lectura</h2>
              <p>Con nuestra función de lista de lectura, podrás organizar y guardar tus libros favoritos de una manera sencilla y conveniente. Ya no tendrás que preocuparte por perder el rastro de tus lecturas pendientes o libros más queridos. Crea tu lista personalizada y disfruta de una experiencia de lectura más organizada y gratificante.</p>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li>Listas de lectura</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Reading list Section ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <span>Tus listas de lectura</span>
                <h2>Tus listas de lectura</h2>
            </div>
            
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            <br>
            {% if error_message %}
              <div class="alert alert-danger">
                {{ error_message }}
              </div>
            {% endif %}

            <div class="row gy-4">
              {% if user.readinglist_set.count <= 3 %}
                <a href="{% url 'createlist' %}" class="btn btn-lg btn-primary mb-5">Crear una Lista de lectura</a>
              {% endif %}
            </div>

            <div class="row gy-4">
            
                {% for readinglist in readinglists %}
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">
                            <img src="{{ readinglist.cover.url }}" alt="{{ readinglist.title }} Cover" class="img-fluid">
                        </div>
                        <h3><a href="{% url 'detail' readinglist.id %}" >{{ readinglist.title }}</a></h3>
                        <p><small class="text-muted">Fecha de creación: {{ readinglist.date_created }}</small></p>
                        {% if user.is_authenticated and user == readinglist.user and readinglist.title != "Leer más tarde" %}
                            <form method="post" action="{% url 'deletelist' readinglist.id %}" class="d-inline">
                              {% csrf_token %}
                              <button class="btn btn-danger ms-3 me-3 mb-3" style="background-color: #DD1C1A; color: #fff; border: solid #DD1C1A;">Eliminar</button>
                            </form>
                        {% endif %}
                    </div>
                </div><!-- End Card Item -->
                {% endfor %}

            </div>

        </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "includes/footer.html" %}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
